<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZSAdversmentView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>528C48E71C0C46F7006D5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528C49001C0C46F7006D5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528C490B1C0C46F7006D5C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
